@import "buttons.css";
@import "colors.css";
body{
    font-family: "Roboto", sans-serif;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    background-color: var(--color-element-bg);
}
.logo{
    font-size: 26px;
    font-weight: 800;
    color: var(--color-acent);
    transition: 0.3s;
}
.logo:active{
    transform: scale(0.8);
}
.logo a{
    text-decoration: none;
    color: var(--color-acent);
}
nav ul {
    list-style: none;
}
.header__nav ul, .bottom-nav ul{
    display: flex;
    gap: 15px;
}
.header__nav a, .bottom-nav a{
    text-decoration: none;
    color: var(--color-black);
    transition: 0.3s;
    font-weight: 300;
}
.header__nav a:hover,.bottom-nav a:hover{
    color: var(--color-link-hover);
}
.info-double, .teachers__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.info-big{
    display: grid;
    align-items: center;
    justify-content: center;
    background: url("../images/emoji_bg.webp");
    width: 100%;
    height: 500px;
    background-size: cover;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    color: var(--color-white);
}
.info-big h2{
    text-align: center;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%), 0 0 10px rgb(0 0 0 / 50%);
}
.info-big span{
    display: block;
    max-width: 900px;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%), 0 0 10px rgb(0 0 0 / 50%);
}
.info-double img, .teachers__inner-item img {
    max-width: 100%;
    border-radius: 10px;
}
.info-big__title{
    text-align: center;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%), 0 0 10px rgb(0 0 0 / 50%);
}
.title{
    margin: 30px 0;
    text-align: center;
    color: var(--color-link-hover);
}
.info-double__oge, .info-double__ege, .teachers__inner-item{
    border-radius: 10px;
    box-shadow: 0 0 6px 2px rgba(34, 60, 80, 0.2);
}
.info-double__inner, .teachers__inner-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    font-weight: 300;
    padding: 20px;
}
.info-double__inner span, .teachers__inner-text span{
    color: var(--color-acent);
    font-weight: 600;
    font-size: 20px;
}
.directions__inner{
    display: flex;
}
.directions__inner-inner{
    display: flex;
    gap: 25px;
}
.directions__inner-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    background-color: var(--color-element-bg);
    padding: 30px;
    border-radius: 10px;
}
.directions__inner-image img{
    max-width: 250px;
    border-radius: 10px;
}
.directions__inner-text{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    gap: 20px;
}
.directions__inner-text span{
    color: var(--color-acent);
    font-weight: 600;
    font-size: 20px;
}
.reviews__inner{
    display: flex;
    gap: 20px;
}
.reviews__inner-items{
    background: var(--color-white);
    box-shadow: 0 0 6px 2px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    padding: 25px;
}
.reviews__inner-items span{
    display: block;
    margin-top: 20px;
    color: var(--color-acent);
}
.teachers__inner-item img{
    width: 100%;
    object-fit: cover;
    max-height: 425px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    background-color: var(--color-element-bg);
    padding: 20px;
    border-radius: 10px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.login-form {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: var(--color-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.login-form.visible,
.overlay.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.login-form.visible{
    display: grid;
    gap: 20px;
    min-width: 350px;
}
.overlay.visible{
    width: 100%;
    transform: translate(0, 0) scale(1);
}
.login-form__close{
    position: absolute;
    right: 5px;
    top: 18px;
    width: 25px;
    height: 4px;
    background: var(--color-acent);
    transform: rotate(45deg);
    cursor: pointer;
}
.login-form__close::before{
    content: '';
    display: block;
    width: 25px;
    height: 4px;
    background: var(--color-acent);
    transform: rotate(90deg);
}
.menu-btn{
    display: none;
    margin-top: -10px;
    width: 25px;
    height: 4px;
    background: var(--color-acent);
    cursor: pointer;
}
.menu-btn::before{
    content: '';
    margin-top: 10px;
    display: block;
    width: 22px;
    height: 4px;
    background: var(--color-acent);
}
@media (max-width: 1440px){
    .wrapper{
        padding: 0 20px;
    }
}
@media (max-width: 1024px){
    .wrapper{
        padding: 0 10px;
    }
    .header__nav ul{
        padding: 0;
    }
    .logo {
        font-size: 22px;
    }
    .reviews__inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .header__nav{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .login-block{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .info-big span{
        max-width: 500px;
    }
    .directions__inner{
        flex-direction: column;
    }
    .directions__inner-image {
        justify-content: center;
        align-items: center;
    }
    .directions__inner-image img {
        max-width: 100%;
    }
    .bottom-nav ul{
        display: grid;
        padding: 0;
        gap: 10px;
        margin: 0;
    }
    .footer {
        align-items: start;
    }
    .menu-show{
        display: block;
    }
    .menu-show ul{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        left: 10px;
        top: -15px;
        padding: 20px;
        background: #fff;
    }
}
